.card-img-top {
    height: 200px; /* Ajusta la altura de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el espacio */
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .btn-warning {
    background-color: #ffe57d; /* Amarillo más intenso */
    border-color: #ffe57d;
    color: #000; /* Texto negro */
}

.navbar .btn-warning:hover {
    background-color: #ffc107; /* Amarillo más oscuro al pasar el ratón */
    border-color: #ffc107;
}

.cardEstado .btn-primary{

    background-color: #ffd057; /* Amarillo más intenso */
    border-color: #ffd057;
    color: #000; /* Texto negro */    
}

.cardEstado .btn-primary:hover{

    background-color: #fec22a; /* Amarillo más intenso */
    border-color: #fec22a;
    color: #000; /* Texto negro */    
}

.custom-input-group {
    max-width: 700px; /* Ajusta el ancho en píxeles */
    /* O puedes usar porcentajes: width: 50%; */
    margin: 0 auto;
}