.hero-section {
    background-image: url('../img/campoh.jpg'); /* Reemplaza con tu imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el div */
    background-position: center; /* Centra la imagen */
    height: 500px; /* Ajusta la altura según sea necesario */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* Color del texto */
}

.hero-content h1 {
    font-size: 3em; /* Tamaño de la frase */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mejor legibilidad */
}


.hotel-info-container {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.hotel-info {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
    justify-content: space-around; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Alinea verticalmente los elementos */
}

.info-item {
    border-right: 1px solid #ccc; /* Línea divisoria vertical */
    padding: 10px;
    margin: 5px;
}

.info-item:last-child {
    border-right: none; /* Elimina la línea divisoria del último elemento */
}

.star {
    font-size: 1.2em;
}

.yellow-star {
    color: gold;
}

.gray-star {
    color: gray;
}


.lead {
    max-width: 800px; /* Limita el ancho del párrafo */
    margin: 20px auto; /* Centra el párrafo */
}



.img-fluid {
    border-radius: 10px; /* Opcional: añade bordes redondeados a la imagen */
}


.card-img-top {
    height: 200px; /* Ajusta la altura de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el espacio */
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.star {
    font-size: 1.2em;
}

.yellow-star {
    color: gold;
}

.gray-star {
    color: gray;
}